/* GENERALI */
.orange{
    color: #ff8f00;
}
.green-status{
    background-color: green;
}
.red-status{
    background-color: red;
}
.yellow-status{
    background-color: rgb(212, 197, 24);
}
.white-hover:hover{
    background-color: rgba(255, 255, 255, 0.4);
}
.row{
    margin: 0;
}
:root{
    --main-grey: #f7f7f7;
    --main-blue: #1b72e8;
    --darkest-grey: #e5e5e5;
    --darkest-blue: #051e34;
}

/* HEADER */
#navbar{
    background-color: var(--main-grey);
    height: 60px;
}
.search-bar{
    background-color: var(--darkest-grey);
    border-radius: 5px;
}
.search-bar input{
    background-color: var(--darkest-grey);
    width: 100%;
    border: none;
    outline-style: none;
}
#navbar img{
    width: 100%;
}
#navbar a{
    text-decoration: none;
    color: black;
}
#navbar a:hover{
    color: black;
}


/* MAIN */
/* Aside */
aside{
    width: 150px;
    height: calc(100vh - 60px);
    color: white;
    background-color:var(--darkest-blue);
    background-image: url(../img/sidebar-bg.png);
}
aside a{
    text-decoration: none;
    color: white;
}
aside a:hover{
    color: white;
}


/* Content */
.main-content{
    width: calc(100% - 150px);
    height: calc(100vh - 60px);
    background-color: var(--main-grey);
    
    overflow: auto;
}
.content-header{
    background-color: var(--main-blue);
    color: white;
}
.content-header div p{
    margin-bottom: 0;
}
.content-header div span{
    font-size: 35px;
}
.content-header div .plus{
    display: inline-block;
    border: 1px solid white;
    border-radius: 5px;
    padding: 2px 8px;

}
.content-header a{
    text-decoration: none;
}
.tasti{
    color: white;
    font-size: 12px;
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 10px;
    text-align: center;
}
.tasto-1{
    top: 20px;
    left: 140px;
}

/* Pannello classi */
.panel{
    border: 1px solid lightgray;
    border-radius: 10px;
}
.first-panel .row{
    border-bottom: 1px solid lightgray;
}
.first-panel .row:hover{
    background-color: var(--darkest-grey);
}
.first-panel .row:last-of-type{
    border-bottom: none;
}
.panel-title{
    background-color: var(--darkest-grey);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.classi{
    font-size: 12px;
}
.code-slash{
    background-color: #f26551;
    color: white;
    text-align: center;
    padding: 0.2rem 0.4rem;;
    border-radius: 50%;
    display: inline-block;
}
.status{
    color: white;
    border-radius: 10px;
    text-align: center;
    padding: 0.2rem 0;
    font-size: 10px;
}
.azioni i{
    border: 1px solid grey;
    border-radius: 2px;
    padding: 0.2rem;
}

/* Pannello Todo */
.third-panel > div{
    border-bottom: 1px solid lightgrey;
}
.third-panel > div:last-of-type{
    border-bottom: none;
}

/* Pannello Stats */
.stats{
    width: 100%;
}
.fourth-panel > div{
    border-bottom: 1px solid lightgrey;
}
.fourth-panel > div:last-of-type{
    border-bottom: none;
}